@CHARSET "ISO-8859-1";
@import url('http://fonts.googleapis.com/css?family=Tangerine');

body
{
  background-image:url("bootstrap/img/plain-light-blue-background-1920x1080.jpg");
}
.head
{
  color:#CCFFFF;
  font-family:Tangerine,sans-serif;
  font-size:80px;
  font-weight:bold;
  
}

.myForm
{
   color:#191970;
   font-size:20px;
}
